body { background: #28c58a; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 16px; display: flex; }
.block-metrics-0 { color: #824c3f; font-size: 14px; margin-bottom: 5px; }
.block-config-1 { color: #328fc9; font-size: 14px; margin-bottom: 5px; }
.block-router-2 { color: #2a7481; font-size: 16px; margin-bottom: 5px; }
.block-metrics-3 { color: #f416af; font-size: 13px; margin-bottom: 5px; }
.block-search-4 { color: #e3eab9; font-size: 20px; margin-bottom: 5px; }